In [5]:
import pandas as pd

# 2 Main Datatypes i)Series ii)DataFrame
# Series is 1-Dimensional coloum
# DataFrame is 2 - Dimensional many coloums represent
# Importing and Exporting CSV using Pands

In [18]:
#2 Main datatypes
series = pd.Series(["BMW","Toyota","Honda"])

In [7]:
#series is a  1-dimesional 
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [8]:
colours = pd.Series(["red","Yellow","Orange"])
colours

0       red
1    Yellow
2    Orange
dtype: object

In [9]:
#DataFrame is a 2-dimensional
car_data = pd.DataFrame({"carmake":series,"colour":colours})
car_data

  carmake  colour
0     BMW     red
1  Toyota  Yellow
2   Honda  Orange

In [10]:
#import data in pands
car_sales = pd.read_csv("car_sales_data.csv")
car_sales

   Car_ID     Brand     Model  Year  Price_INR Fuel_Type
0       1    Toyota   Corolla  2020     900000    Petrol
1       2     Honda     Civic  2019     850000    Petrol
2       3   Hyundai       i20  2021     750000    Diesel
3       4    Maruti     Swift  2018     600000    Petrol
4       5       Kia    Seltos  2022    1200000    Diesel
5       6      Tata     Nexon  2021     800000    Petrol
6       7  Mahindra    XUV300  2020     950000    Diesel
7       8      Ford  EcoSport  2019     700000    Petrol
8       9       BMW        X1  2022    3500000    Diesel
9      10      Audi        A4  2021    4200000    Petrol

In [11]:
#Exporting a dataframe
car_sales.to_csv("exported-car_sales_data.csv",index=False)

In [12]:
exported_car_sales = pd.read_csv("exported-car_sales_data.csv")
exported_car_sales

   Car_ID     Brand     Model  Year  Price_INR Fuel_Type
0       1    Toyota   Corolla  2020     900000    Petrol
1       2     Honda     Civic  2019     850000    Petrol
2       3   Hyundai       i20  2021     750000    Diesel
3       4    Maruti     Swift  2018     600000    Petrol
4       5       Kia    Seltos  2022    1200000    Diesel
5       6      Tata     Nexon  2021     800000    Petrol
6       7  Mahindra    XUV300  2020     950000    Diesel
7       8      Ford  EcoSport  2019     700000    Petrol
8       9       BMW        X1  2022    3500000    Diesel
9      10      Audi        A4  2021    4200000    Petrol

## Describe Data

In [13]:
#Attribute does't have ()
car_sales.dtypes

# Funcation have ()
#car_sales.to.csv()

Car_ID        int64
Brand        object
Model        object
Year          int64
Price_INR     int64
Fuel_Type    object
dtype: object

In [14]:
car_sales.columns

Index(['Car_ID', 'Brand', 'Model', 'Year', 'Price_INR', 'Fuel_Type'], dtype='object')

In [15]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [16]:
car_sales.describe()

         Car_ID         Year     Price_INR
count  10.00000    10.000000  1.000000e+01
mean    5.50000  2020.300000  1.445000e+06
std     3.02765     1.337494  1.288291e+06
min     1.00000  2018.000000  6.000000e+05
25%     3.25000  2019.250000  7.625000e+05
50%     5.50000  2020.500000  8.750000e+05
75%     7.75000  2021.000000  1.137500e+06
max    10.00000  2022.000000  4.200000e+06

In [17]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Car_ID     10 non-null     int64
 1   Brand      10 non-null     object
 2   Model      10 non-null     object
 3   Year       10 non-null     int64
 4   Price_INR  10 non-null     int64
 5   Fuel_Type  10 non-null     object
dtypes: int64(3), object(3)
memory usage: 612.0+ bytes

In [21]:
car_sales.mean(numeric_only=True)

Car_ID             5.5
Year            2020.3
Price_INR    1445000.0
dtype: float64

In [22]:
car_sales["Price_INR"].sum()

np.int64(14450000)

## Viewing and selecting data

In [23]:
car_sales.head()

   Car_ID    Brand    Model  Year  Price_INR Fuel_Type
0       1   Toyota  Corolla  2020     900000    Petrol
1       2    Honda    Civic  2019     850000    Petrol
2       3  Hyundai      i20  2021     750000    Diesel
3       4   Maruti    Swift  2018     600000    Petrol
4       5      Kia   Seltos  2022    1200000    Diesel

In [25]:
car_sales.tail(2)

   Car_ID Brand Model  Year  Price_INR Fuel_Type
8       9   BMW    X1  2022    3500000    Diesel
9      10  Audi    A4  2021    4200000    Petrol

In [33]:
#.loc and .iloc
animals = pd.Series(["cat", "dog" , "bird" , "panda" , "snake"],index=[0, 3, 9, 8, 3])

In [34]:
animals

0      cat
3      dog
9     bird
8    panda
3    snake
dtype: object

In [36]:
#loc = location of data 
animals.loc[3]

3      dog
3    snake
dtype: object