In [5]:
import pandas as pd

# 2 Main Datatypes i)Series ii)DataFrame
# Series is 1-Dimensional coloum
# DataFrame is 2 - Dimensional many coloums represent
# Importing and Exporting CSV using Pands

In [8]:
#2 Main datatypes
series = pd.Series(["BMW","Toyota","Honda"])

In [12]:
#series is a  1-dimesional 
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [11]:
colours = pd.Series(["red","Yellow","Orange"])
colours

0       red
1    Yellow
2    Orange
dtype: object

In [13]:
#DataFrame is a 2-dimensional
car_data = pd.DataFrame({"carmake":series,"colour":colours})
car_data

  carmake  colour
0     BMW     red
1  Toyota  Yellow
2   Honda  Orange

In [18]:
#import data in pands
car_sales = pd.read_csv("car_sales_data.csv")
car_sales

   Car_ID     Brand     Model  Year  Price_INR Fuel_Type
0       1    Toyota   Corolla  2020     900000    Petrol
1       2     Honda     Civic  2019     850000    Petrol
2       3   Hyundai       i20  2021     750000    Diesel
3       4    Maruti     Swift  2018     600000    Petrol
4       5       Kia    Seltos  2022    1200000    Diesel
5       6      Tata     Nexon  2021     800000    Petrol
6       7  Mahindra    XUV300  2020     950000    Diesel
7       8      Ford  EcoSport  2019     700000    Petrol
8       9       BMW        X1  2022    3500000    Diesel
9      10      Audi        A4  2021    4200000    Petrol

In [19]:
#Exporting a dataframe
car_sales.to_csv("exported-car_sales_data.csv",index=False)

In [23]:
exported_car_sales = pd.read_csv("exported-car_sales_data.csv")
exported_car_sales

   Car_ID     Brand     Model  Year  Price_INR Fuel_Type
0       1    Toyota   Corolla  2020     900000    Petrol
1       2     Honda     Civic  2019     850000    Petrol
2       3   Hyundai       i20  2021     750000    Diesel
3       4    Maruti     Swift  2018     600000    Petrol
4       5       Kia    Seltos  2022    1200000    Diesel
5       6      Tata     Nexon  2021     800000    Petrol
6       7  Mahindra    XUV300  2020     950000    Diesel
7       8      Ford  EcoSport  2019     700000    Petrol
8       9       BMW        X1  2022    3500000    Diesel
9      10      Audi        A4  2021    4200000    Petrol