## Dot Product Exmple

Student marks

In [1]:
import numpy as np

In [4]:
np.random.seed(0)
student_marks = np.random.randint(100,size = (4,6))
student_marks

array([[44, 47, 64, 67, 67,  9],
       [83, 21, 36, 87, 70, 88],
       [88, 12, 58, 65, 39, 87],
       [46, 88, 81, 37, 25, 77]], dtype=int32)

In [6]:
student = np.DataFrame(student_marks , index =["Jhon", "Alex", "Joy", "Robb"], colums=["Maths", "Scinece", "Biology", "Physices", "Computer Scinece", "Chemistry"])
student

AttributeError: module 'numpy' has no attribute 'DataFrame'

In [7]:
import pandas as pd

In [9]:
student = pd.DataFrame(student_marks , index =["Jhon", "Alex", "Joy", "Robb"], columns=["Maths", "Scinece", "Biology", "Physices", "Computer Scinece", "Chemistry"])
student

      Maths  Scinece  Biology  Physices  Computer Scinece  Chemistry
Jhon     44       47       64        67                67          9
Alex     83       21       36        87                70         88
Joy      88       12       58        65                39         87
Robb     46       88       81        37                25         77